# Web local development env
NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:3001
INTERNAL_API_URL=http://localhost:3001
NEXTAUTH_URL=http://localhost:3000
PORTAL_BASE_URL=http://localhost:3000/portal
NEXT_PUBLIC_PORTAL_BASE_URL=http://localhost:3000/portal
MARKETING_SITE_URL=http://localhost:3000
NEXT_PUBLIC_MARKETING_SITE_URL=http://localhost:3000
NEXT_PUBLIC_MARKETING_WHATSAPP_URL=
NEXTAUTH_SECRET=I1TiNX-1ZhTGK-0RW7KB-0SmW3D-SsSlQY-.c1T71-SR
